*~
*.bak
*.elc
# what follows is just a bunch of crap that was in my .emacs.d:
.last-package-update-day
SessionDesktop.el
SessionDesktop.elc
ac-comphist.dat
auto-save-list
backups
elpa
eshell
idlwave
ido.last
network-security.data
opam-user-setup.el
places
projectile-bookmarks.eld
recentf
rust-playground
smex-items
snippets
theme
tramp
transient
url